# Regresión lineal

Consideremos el dataset USA_Housing.csv, con este se pretende predecir el precio de venta de una casa enterminos de las variables: 

* Avg. Area Income 
* Avg. Area House Age
* Avg. Area Number of Rooms
* Avg. Area Number of Bedrooms
* Area Population
* Price 
* Address

El target en este caso es el precio (price) y el resto de componentes serán las características.

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score #Coeficiente de determinación
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

## Importamos la base de datos

In [7]:
data = pd.read_csv('USA_Housing.csv')
data.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [9]:

df = data.copy()
df = df.drop('Address', axis='columns')
# Chequeo de  NaN y Null
print("------------- NA values -------------")
print(df.isna().sum())
print("------------- Null values -----------")
print(df.isnull().sum())
df.describe()

------------- NA values -------------
Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
dtype: int64
------------- Null values -----------
Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
dtype: int64

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

## Construimos el modelo 

1) Partimos los datos en train y test.
2) Entrenamos el modelo de regresión lineal.
3) Predecimos la variable y a partir de los datos de test.
4) Calculamos el coeficiente de determinación para la anterior predicción.

In [12]:
# 1)
features = df.drop('Price', axis='columns')
target = df['Price']
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=40)
# 2)
model = LinearRegression()
model.fit(x_train, y_train)
# 3) 
y_p = model.predict(x_test)
# 4)
print('El coeficiente de determinación es {}'.format(r2_score(y_test, y_p)))

El coeficiente de determinación es 0.913012791766986